@font-face {
  font-family: 'BYekan';
  src: url('BYekan.svg#BYekan') format('svg'),
       url('BYekan.ttf') format('truetype'),
       url('BYekan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yekan';
  src: url('Yekan.eot');
  src: url('Yekan.eot?#iefix') format('embedded-opentype'),
       url('Yekan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

